<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= comment.creator.uname %>'s Comment
    </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="nav">
        <a href="/subs/list/">Subreddit List</a>
    </div>
    <div style="padding-top: 20px;">
        <p>
            <a href="/posts/show/<%= post.id %>">Back to Post</a><br>
        </p>
        <p>
            <a href="/posts/show/<%= post.id %>/comments/show/<%= comment.id %>">Show Full</a>

            <% if (comment.creator==user_id) { %>
                <a href="/posts/show/<%= post.id %>/comments/editconfirm/<%= comment.id %>">Edit</a>

                <% } %>
                    <% if (comment.creator==user_id || post.creator.id==user_id) { %>
                        <a href="/posts/show/<%= post.id %>/comments/deleteconfirm/<%= comment.id %>">Delete
                        </a><br>
                        <% } %>
                            <%= commentCreator.uname %>:
                                <br>
                                <%= new Date(comment.timestamp); %>:
                                    <br>
                                    <p>
                                        <%= comment.description %>
                                    </p>
        </p>
    </div>
</body>

</html>