<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JEDDIT</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <script src="/js/script.js"></script>
</head>

<body>
  <div class="nav">
    <a href="/subs/list/">Subreddit List</a>
  </div>
  <% posts.forEach(post=> { %>
    <div style="padding-top: 20px;">
      <p>
        <a href="/posts/show/<%=post.id%>">
          <%= post.title %>
        </a>
        <br>
        posted by: <%= users[post.creator].uname %><br>
          r/<%= post.subgroup %><br>
            <%= new Date(post.timestamp) %><br>
      </p>
      <p>
        <%= post.description %>
          <br>
          <br>
          <a href="<%= post.link %>">
            <%= post.link %>
          </a>
      </p>
    </div>
    <% }) %>
</body>

</html>